<!DOCTYPE html>
<html itemscope
  itemtype="//schema.org/WebPage"
  lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible"
    content="IE=edge,chrome=1" />
  <meta name="description"
    content="Making creative online bots." />
  <meta name="viewport"
    content="width=device-width, initial-scale=1" />
  <title>Creative online bots 🤖🎨</title>
  <meta property="og:title"
    content="Creative online bots 🤖🎨" />
  <meta property="og:description"
    content="Making creative online bots." />
  <meta property="og:type"
    content="website" />
  <meta name="twitter:title"
    content="Creative online bots 🤖🎨" />
  <meta name="twitter:description"
    content="Making creative online bots." />
  <script>
    const darkModeQuery = window.matchMedia("(prefers-color-scheme: dark)");
    document.documentElement.setAttribute("data-bs-theme", darkModeQuery.matches ? "dark" : "light");
  </script>
  {{#if critical_css}}<style>{{{critical_css}}}</style>{{/if}}
  <link rel="preload"
    href="styles/main.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="styles/main.css"></noscript>
  <link rel="shortcut icon"
    href="https://bots.stefanbohacek.com/images/icons/favico.ico" />
  <link rel="alternate"
    type="application/rss+xml"
    title="Stefan's Creative Online Bots"
    href="/feed" />
</head>

<body id="top"
  class="pt-4 pt-md-0">
  <div class="position-fixed glitch-award z-3 top-0 end-0"
    style="transform: rotate(3deg);">
    <span class="badge rounded-pill text-bg-info p-2 m-2 d-inline-block">
      <a class="fs-6 text-black text-center d-block text-decoration-none"
        href="https://stefanbohacek.online/@stefan/111767376158601667">
        Best Fediverse App <br class="d-none d-md-block" />on Glitch 2023 🤘
      </a>
    </span>
  </div>
  <section id="content">
    <div id="content-inner">{{{body}}}</div>
  </section>
  <script defer
    src="scripts/bundle.js"></script>
  {{{footer_scripts}}}
  <script>
    window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", (ev) => {
      document.documentElement.setAttribute("data-bs-theme", ev.matches ? "dark" : "light");
    });
  </script>

  <a id="back-to-top"
    title="Go back all the way to the top of this page"
    href="#top"
    class="slide-up">
    <img alt="A chevron pointing up"
      title="Scroll back to the top of the page"
      width="26"
      height="26"
      src="https://bots.stefanbohacek.com/images/icons/arrow-up.svg" /></a>
</body>

</html>