<div class="container ml-auto mr-auto bg-body p-5 mb-5">
  <div class="row">
    <main class="col-sm-12 px-0 px-md-5 mx-auto mb-2 mb-md-4">
      <h1 class="text-center mt-5 mb-5">
        Stefan's creative bot showcase <span class="text-nowrap">🤖🎨</span>
      </h1>
      <blockquote class="blockquote border-start border-5 border-secondary ps-3 my-5"
        cite="https://www.rollingstone.com/culture/culture-commentary/internet-future-about-to-get-weird-1234938403/">
        <p>Stefan Bohacek has been working for years to enable almost anyone to create simple, automated bots, offering
          up everything from a constantly-updated view of the weather at the South Pole to one that posts excerpts from
          the City of New York's archives of civic data (here's a map of every Latin cultural organization in the city!)
          to ones that post obscure and delightful images from the collections of museums around the world.</p>
        <cite>
          — <a
            href="https://www.rollingstone.com/culture/culture-commentary/internet-future-about-to-get-weird-1234938403/">The
            Internet Is About to Get Weird Again</a>, Rolling Stone, 2023
        </cite>
      </blockquote>
      <p>
        This page lists all the creative bots I've made (<a href="#active-bots">{{active_bots_count}} active</a>,
        <a href="#inactive-bots">{{inactive_bots_count}} inactive</a>, {{bots_count_total}} in total), with <a
          href="https://stefanbohacek.com/blog/analyzing-fediverse-followers/">thousands of unique followers</a> (9,129 as of November 6, 2025) across
        all of them. If you want to learn more about creative botmaking, and maybe even make your
        own bot, here's a few links to get you started:
      </p>
      <ul>
        <li>
          <a href="https://botwiki.org/">Botwiki</a>, an online encyclopedia of creative bots and a collection of
          resources for making them, including the <a
            href="https://botwiki.org/resource/guide/the-definitive-guide-to-creative-botmaking/">Definitive Guide to
            Creative Botmaking</a>
        </li>
        <li>
          the <a href="https://botmakers.org/">Botmakers</a> Discourse group
        </li>
        <li>
          tutorials and descriptions of my bot projects <a href="https://stefanbohacek.com/tag/bots/">on my blog</a>
        </li>
        <li>
          and you might also enjoy my <a
            href="https://stefanbohacek.com/blog/twitter-bots-a-retrospective/">retrospective on Twitter bots</a>
        </li>
      </ul>
      <p>
        Be sure to check out my other projects <a href="https://stefanbohacek.com/">on my personal website</a>, and follow me <a href="https://stefanbohacek.online/@stefan" rel="me">on Mastodon</a>. And here's how you can <a
          href="https://stefanbohacek.com/support-my-work/">support my work</a>.
      </p>
      <p>
        <em>Note: If you don't want to see occasional announcements about new bots that I've made, <a
            href="https://fedi.tips/hiding-someones-boosts-in-mastodon-without-blocking-or-muting-them/">see how to hide
            them</a>.</em>
      </p>
      <form class="fsb-prompt">
        <label class="fw-bold">Share this page from your fediverse server</label>
        <div class="fsb-input-group mb-3">
          <span class="fsb-input-group-text">https://</span>
          <input required
            type="text"
            name="fediverse-domain"
            placeholder="mastodon.social"
            class="fsb-input fsb-domain"
            aria-label="Server domain">
          <button class="fsb-button"
            type="submit"><img
              alt="Icon of the selected fediverse server's platform"
              src="https://fediverse-share-button.stefanbohacek.com/fediverse-share-button/icons/mastodon.svg"
              class="fsb-icon"></span>Share</button>
        </div>
        <p class="fsb-support-note fsb-d-none">This server does not support sharing. Please visit <a
            class="fsb-support-note-link"
            target="_blank"
            href=""></a>.</p>
      </form>
      <link rel="stylesheet"
        href="https://fediverse-share-button.stefanbohacek.com/fediverse-share-button/styles.min.css">
      <script src="https://fediverse-share-button.stefanbohacek.com/fediverse-share-button/script.min.js"
        defer
        class="fsb-script"></script>

    </main>
  </div>
</div>
<div class="container-fluid ml-auto mr-auto mt-4 pt-4">
  {{#if bots}}
  <div id="active-bots"
    class="row list">
    {{#each active_bots}}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 list-item">
      {{> bot name=this.about.name description=this.about.description
      thumbnail=this.about.thumbnail preview=this.about.preview
      about_url=this.about.about_url source_url=this.about.source_url
      links=this.about.links file=this.about.file interval=this.about.interval
      interval_human=this.about.interval_human next_run=this.about.next_run
      last_run=this.about.last_run }}
    </div>
    {{/each}}
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="container ml-auto mr-auto">
        <h2 id="inactive-bots"
          class="text-center mt-5 mb-5">Inactive bots</h2>
      </div>
    </div>
  </div>
  <div class="row list">
    {{#each inactive_bots}}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 list-item">
      {{> bot name=this.about.name description=this.about.description
      thumbnail=this.about.thumbnail preview=this.about.preview
      about_url=this.about.about_url source_url=this.about.source_url
      links=this.about.links file=this.about.file interval=this.about.interval
      interval_human=this.about.interval_human next_run=this.about.next_run
      last_run=this.about.last_run }}
    </div>
    {{/each}}
  </div>
  {{/if}}
  <div class="row bg-body-secondary py-5">
    <div class="col-sm-12 mx-auto">
      <blockquote data-bs-theme="automatic"
        class="fediverse-post mx-auto fediverse-post-rendered w-100 mt-4 mb-4">
        <div class="card w-100">
          <div class="post-body-wrapper card-body pt-4 pb-0">
            <div class="card-text">
              <div class="row no-gutters mb-1">
                <div class="d-flex">
                  <div class="flex-shrink-0">

                    <a href="https://stefanbohacek.online/@stefan"
                      class="text-decoration-none">
                      <img title="Profile image"
                        alt="Profile image of @Stefan Bohacek"
                        loading="lazy"
                        class="post-author-image rounded-circle border"
                        width="48"
                        height="48"
                        onerror="this.src='https://stefanbohacek.com/wp-content/plugins/fediverse-embeds/includes/../images/images/blank.png'"
                        src="https://stefanbohacek.com/wp-json/ftf/media-proxy?url=aHR0cHM6Ly9zYm9ubGluZS5ueWMzLmRpZ2l0YWxvY2VhbnNwYWNlcy5jb20vYWNjb3VudHMvYXZhdGFycy8xMDkvNjk0LzM0Ni85MjkvODQ0LzYxNy9vcmlnaW5hbC9mNDg0NzE4MGU0ZTNlZjBlLmpwZw==">
                    </a>

                  </div>
                  <div class="flex-grow-1 ms-3">

                    <div class="post-author pb-3">
                      <p class="font-weight-bold mb-0 mt-0">
                        <a class="text-dark text-decoration-none"
                          href="https://stefanbohacek.online/@stefan">Stefan Bohacek</a>
                      </p>
                      <p class="mb-1 mb-md-2 mt-0 fs-6 text-break">
                        <a class="text-muted text-decoration-none"
                          href="https://stefanbohacek.online/@stefan">
                          @stefan@stefanbohacek.online
                        </a>
                      </p>
                    </div>

                  </div>
                </div>
              </div>
              <div class="post-body">
                <p>NPR calling me and @mtrc@mastodon.social "bot watchers [...] bemoan[ing] the imminent demise of
                  creations they loved".</p>
                <p>Fair enough.</p>
                <p><a
                    href="https://www.npr.org/2023/02/09/1155543369/twitters-new-data-access-rules-will-make-social-media-research-harder"
                    target="_blank"
                    rel="nofollow noopener"
                    translate="no"><span class="invisible">https://www.</span><span
                      class="ellipsis">npr.org/2023/02/09/1155543369/</span><span
                      class="invisible">twitters-new-data-access-rules-will-make-social-media-research-harder</span></a>
                </p>
                <p><a href="https://stefanbohacek.online/tags/bots"
                    class="mention hashtag"
                    rel="tag">#<span>bots</span></a> <a href="https://stefanbohacek.online/tags/CreativeBots"
                    class="mention hashtag"
                    rel="tag">#<span>CreativeBots</span></a> <a href="https://stefanbohacek.online/tags/Twitter"
                    class="mention hashtag"
                    rel="tag">#<span>Twitter</span></a> <a href="https://stefanbohacek.online/tags/TwitterAPI"
                    class="mention hashtag"
                    rel="tag">#<span>TwitterAPI</span></a></p>
                <div data-media-length="1"
                  class="post-media row mt-3 no-gutters">
                  <div data-media-type="image"
                    class="position-relative text-center col-sm-12 col-md-12 col-lg-12"><a
                      href="https://stefanbohacek.online/@stefan/109835509059214542"
                      target="_blank">
                      <img alt="A snippet from an NPR article:

&quot;Musk has long expressed his desire to rid the platform of &quot;bot armies.&quot; When Twitter first announced last Thursday that it will start charging for API usage without information of pricing or exceptions, bot watchers on the platform bemoaned the imminent demise of creations they loved. On Saturday, Musk tweeted that &quot;responding to feedback,&quot; bots &quot;providing good content&quot; will keep free access.&quot;

The word &quot;watchers&quot; is highlighted, showing a link to my personal site, stefanbohacek.com."
                        loading="lazy"
                        width="undefined"
                        height="undefined"
                        class="w-100 rounded border mb-3"
                        src="https://stefanbohacek.com/wp-json/ftf/media-proxy?url=aHR0cHM6Ly9zYm9ubGluZS5ueWMzLmRpZ2l0YWxvY2VhbnNwYWNlcy5jb20vbWVkaWFfYXR0YWNobWVudHMvZmlsZXMvMTA5LzgzNS81MDUvMDE1LzY5My8wNDUvb3JpZ2luYWwvZmZlNjhmY2RkMzkyYWJmZC5wbmc="
                        onerror="this.src='https://stefanbohacek.com/wp-content/plugins/fediverse-embeds/includes/../images/images/broken-image.png'">


                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="row align-items-center mx-auto mt-5 mb-5">
      <div class="col-sm-12 mx-auto text-center">
        <p class="d-inline text-center">
          <a href="https://fightfascism.neocities.org"
            class="d-inline-block text-decoration-none">
            <img width="100px"
              height="100px"
              loading="lazy"
              class="m-2"
              alt="Fight Fascism"
              title="Fight fascism! Design by Angus Johnston"
              src="https://stefanbohacek.com/wp-content/themes/fourtonfish/images/other/fight-fascism-square.png">
          </a>
        </p>
        <p class="d-inline text-center">
          <a href="https://lifehacker.com/where-to-donate-to-help-people-fighting-for-racial-just-1843852418"
            class="d-inline-block text-decoration-none">
            <img width="100px"
              height="100px"
              loading="lazy"
              class="m-2"
              alt="The text 'Black Lives Matter' in all-caps, one letter per line, alternating between black text on white background and white text on black background. "
              title="Black Lives Matter logo"
              src="https://stefanbohacek.com/wp-content/themes/fourtonfish/images/other/blm.png">
          </a>
        </p>
        <p class="d-inline text-center">
          <a href="https://translifeline.org/donate/"
            class="d-inline-block text-decoration-none">
            <img width="100px"
              height="100px"
              loading="lazy"
              class="m-2"
              alt="The text 'Trans rights are human rights' in all-caps, laid out to form a trans rights flag with alternating blue, pink, and white stripes."
              title="Support the trans community!"
              src="https://stefanbohacek.com/wp-content/themes/fourtonfish/images/other/trans-rights.jpg">
          </a>
        </p>
        <p class="d-inline text-center">
          <a href="https://indieweb.org/"
            class="d-inline-block text-decoration-none">
            <img width="100px"
              height="100px"
              loading="lazy"
              class="m-2"
              alt="IndieWeb Camp logo consisting of stylized letters IWC and the text 'IndieWebCamp'"
              title="Support #indieweb!"
              src="https://stefanbohacek.com/wp-content/themes/fourtonfish/images/other/indiewebcamp-black.png">
          </a>
        </p>
      </div>
    </div>
  </div>
</div>