<div class="container ml-auto mr-auto">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center mt-5 mb-5">
        <a href="https://stefanbohacek.online/@stefan">Stefan</a>'s creative bot
        showcase <span class="text-nowrap">🤖🎨</span>
      </h1>
      <p>
        This page lists all the
        <a href="https://stefanbohacek.com/project/creative-bots/">creative bots</a>
        I've made (<a href="#active-bots">{{active_bots_count}} active</a>,
        <a href="#inactive-bots">{{inactive_bots_count}} inactive</a>, {{bots_count_total}} in total, with <a
          href="https://stefanbohacek.com/blog/analyzing-fediverse-followers/">over 6,000 followers</a>). Most of
        them are hosted on <a href="https://glitch.com/about">Glitch</a>, a link
        to an external code source is usually available otherwise.
      </p>
      <p>
        If you want to learn more about creative botmaking, and maybe make your
        own bot, here's a few links where you can learn more:
      </p>
      <ul>
        <li>
          <a href="https://botwiki.org/">Botwiki</a>: examples of creative
          online bots and resources for making them
        </li>
        <li>
          <a href="https://botmakers.org/">Botmakers</a>: a place to discuss fun
          and creative online bots and learn how to make them
        </li>
        <li>
          tutorials and descriptions of my bot projects <a href="https://stefanbohacek.com/tag/bots/">on my blog</a>
        </li>
        <li>
          <a href="https://stefanbohacek.com/blog/twitter-bots-a-retrospective/">Twitter bots: A retrospective</a>
        </li>
      </ul>
      <p>
        If you're enjoying following any of these bots, please consider <a
          href="https://botsin.space/@muffinista/100668338248235215">sending a few bucks</a> to the admin of the
        botsin.space server where they're hosted, if you can afford it.
      </p>
      <p>
        <em>Note: If you don't want to see occasional announcements about new bots that I've made, <a href="https://fedi.tips/hiding-someones-boosts-in-mastodon-without-blocking-or-muting-them/">see how to hide them</a>.</em>
      </p>
      <form class="fsb-prompt">
        <label class="fw-bold">Share this page from your fediverse server</label>
        <div class="fsb-input-group mb-3">
          <span class="fsb-input-group-text">https://</span>
          <input required
            type="text"
            name="fediverse-domain"
            placeholder="mastodon.social"
            class="fsb-input fsb-domain"
            aria-label="Server domain">
          <button class="fsb-button"
            type="submit"><img
              src="https://fediverse-share-button.stefanbohacek.dev/fediverse-share-button/icons/mastodon.svg"
              class="fsb-icon"></span>Share</button>
        </div>
        <p class="fsb-support-note fsb-d-none">This server does not support sharing. Please visit <a
            class="fsb-support-note-link"
            target="_blank"
            href=""></a>.</p>
      </form>
      <link rel="stylesheet"
        href="https://fediverse-share-button.stefanbohacek.dev/fediverse-share-button/styles.min.css">
      <script src="https://fediverse-share-button.stefanbohacek.dev/fediverse-share-button/script.min.js"
        defer
        class="fsb-script"></script>

    </div>
  </div>
</div>
<div class="container-fluid ml-auto mr-auto mt-5 pt-5">
  {{#if bots}}
  <div id="active-bots"
    class="row list">
    {{#each active_bots}}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 list-item">
      {{> bot name=this.about.name description=this.about.description
      thumbnail=this.about.thumbnail preview=this.about.preview
      about_url=this.about.about_url source_url=this.about.source_url
      links=this.about.links file=this.about.file interval=this.about.interval
      interval_human=this.about.interval_human next_run=this.about.next_run
      last_run=this.about.last_run }}
    </div>
    {{/each}}
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="container ml-auto mr-auto">
        <h2 id="inactive-bots"
          class="text-center mt-5 mb-5">Inactive bots</h2>
      </div>
    </div>
  </div>
  <div class="row list">
    {{#each inactive_bots}}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 list-item">
      {{> bot name=this.about.name description=this.about.description
      thumbnail=this.about.thumbnail preview=this.about.preview
      about_url=this.about.about_url source_url=this.about.source_url
      links=this.about.links file=this.about.file interval=this.about.interval
      interval_human=this.about.interval_human next_run=this.about.next_run
      last_run=this.about.last_run }}
    </div>
    {{/each}}
  </div>
  {{else}}
  <p>
    See this project's
    <a href="https://glitch.com/edit/#!/creative-bots?path=README.md">source code</a>
    for instructions.
  </p>
  {{/if}}
  <div class="row">
    <div class="col-sm-12">
      <blockquote class="mx-auto fediverse-post fediverse-post-rendered w-100 mt-4 mb-4">
        <div class="card w-100">
          <div class="post-body-wrapper card-body pt-4 pb-0">
            <div class="fediverse-post-labels position-absolute top-0 end-0 mt-1 me-1">
              <span class="badge rounded-pill text-bg-light">
                <span class="p-0"
                  title="This is an admin account."
                  aria-label="Admin account">👑</span>
              </span>
            </div>
            <div class="card-text">
              <div class="row no-gutters mb-1">

                <div
                  class="fediverse-post-profile-image-wrapper col-2 col-sm-2 col-md-2 p-2 pt-0 ps-sm-1 pe-sm-1 ps-md-2 pe-md-1 ps-lg-3 pe-lg-1">
                  <a href="https://stefanbohacek.online/@stefan"
                    class="text-decoration-none">
                    <img title="Profile image"
                      alt="Profile image of @Stefan Bohacek"
                      loading="lazy"
                      class="post-author-image rounded-circle border"
                      width="48"
                      height="48"
                      src="https://stefanbohacek.com/wp-json/ftf/media-proxy?url=aHR0cHM6Ly9zYm9ubGluZS5ueWMzLmRpZ2l0YWxvY2VhbnNwYWNlcy5jb20vYWNjb3VudHMvYXZhdGFycy8xMDkvNjk0LzM0Ni85MjkvODQ0LzYxNy9vcmlnaW5hbC9mNDg0NzE4MGU0ZTNlZjBlLmpwZw==">
                  </a>
                </div>
                <div class="post-author col-10 col-sm-10 col-md-10 pl-2 pb-3">
                  <p class="font-weight-bold mb-0 mt-0">
                    <a class="text-dark text-decoration-none"
                      href="https://stefanbohacek.online/@stefan">Stefan Bohacek</a>
                  </p>
                  <p class="mb-1 mb-md-2 mt-0 fs-6">
                    <a class="text-muted text-decoration-none"
                      href="https://stefanbohacek.online/@stefan">
                      @stefan@stefanbohacek.online
                    </a>
                  </p>
                </div>

              </div>
              <div class="post-body">
                <p>If you're enjoying any of the creative bots I've made (<a
                    href="https://stefans-creative-bots.glitch.me"
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                    translate="no"><span class="invisible">https://</span><span
                      class="ellipsis">stefans-creative-bots.glitch.m</span><span class="invisible">e</span></a>),
                  please consider sending a few bucks to the admin of the botsin.space server where they're hosted, if
                  you can afford it.</p>
                <p><a href="https://botsin.space/@muffinista/100668338248235215"
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                    translate="no"><span class="invisible">https://</span><span
                      class="ellipsis">botsin.space/@muffinista/10066</span><span
                      class="invisible">8338248235215</span></a></p>
                <div class="card mb-4">
                  <div class="card-body pb-1">
                    <h5 class="card-title">
                      <a href="https://stefans-creative-bots.glitch.me/">
                        Creative online bots 🤖🎨
                      </a>
                    </h5>
                    <p class="card-text"><small>Making creative online bots.</small></p>
                  </div>
                  <div class="card-footer pb-3 pt-0">
                    <small class="text-muted">
                      stefans-creative-bots.glitch.me
                    </small>
                  </div><small class="text-muted">
                  </small>
                </div><small class="text-muted">
                </small>
              </div><small class="text-muted">
              </small>
            </div><small class="text-muted">
            </small>
          </div><small class="text-muted">
            <div class="card-footer pb-3"><small>
                <small>
                  <span class="post-icon"
                    role="img"
                    aria-label="Reposts">🔁</span>
                  <span class="text-muted">28</span>
                  <span class="post-icon"
                    role="img"
                    aria-label="Likes">❤️</span>
                  <span class="text-muted">18</span>
                  <span class="post-icon"
                    role="img"
                    aria-label="Replies">💬</span>
                  <span class="text-muted">0</span>
                </small>
                · <a class="text-muted"
                  href="https://stefanbohacek.online/@stefan/111794354177516872"
                  target="_blank">
                  <small title="">
                    January 21, 2024 at 9:14:28 AM
                  </small>
                </a></small></div>
          </small>
        </div>
      </blockquote>
      <!--
        <center>
          <iframe src="https://stefanbohacek.online/@stefan/111794354177516872/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://stefanbohacek.online/embed.js" async="async"></script>
        </center>
      -->
    </div>
  </div>
</div>